body{
    width: 100vw;
    overflow-x: hidden;
}

#inviting {
    color: rgb(205, 219, 231);
    outline: none;
    font-size:     
clamp(32px, 10vw,56px);
}
#borimg{
    min-width: 14rem;
    max-width: 30vw;
}
#we{
    font-size:20px  ;
    text-align: center;   
  
}
#namess{
    font-size:  clamp(49px, 10vw,60px);
     
}

#maindiv{
/* background-image: radial-gradient(circle at 11% 32%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 5%,transparent 5%, transparent 95%),radial-gradient(circle at 89% 30%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 5%,transparent 5%, transparent 95%),radial-gradient(circle at 76% 90%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 83% 14%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 62% 81%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 34% 3%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 19% 1%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 48% 14%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 54% 23%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 10% 37%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(90deg, rgb(54, 234, 239),rgb(107, 10, 201)); */
/* background-attachment: fixed; */
/* background-image: url(./assets/bg2.jpg); */
background-size: contain;
background-attachment: fixed;
}
#maindiv{
    background: linear-gradient(38deg, #4869CE, #3E1971);
    background-size: 400% 400%;
    background-size: contain;
    background-attachment: fixed;
    -webkit-animation: grad 13s ease infinite;
    -moz-animation: grad 13s ease infinite;
    -o-animation: grad 13s ease infinite;
    animation: grad 13s ease infinite;
}

@-webkit-keyframes grad {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-moz-keyframes grad {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-o-keyframes grad {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@keyframes grad {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}